<form class='signupform'  method='get' onsubmit="return resetPasswordSubmit();">
<table border='0' cellpadding='5px' class='logintable'>
<tr>
	<td colspan='2'>
	<span class='header'>Forgotten your password?</span><br/>
	<span style='font-size:10px;cursor:pointer;' onclick='login()'> (Return to login)</span>
	</td>
</tr>



<tr>
	<td>Email address:</td>
	<td><input type='text' id='emailaddr' placeholder='Email address' size='40'></td>
</tr>


<tr>
	<td>&nbsp;</td>
	<td><input type='submit' value='Reset'></td>
</tr>
</table>
</form>