<!--
Note that the hints highlighted below are due to the css file being referenced in the main JSP file and not in this file.
-->

<form class='signupform' method='post' onsubmit="return submitRegister();">
    <table border='0' cellpadding='5px' class='logintable'>
        <tr>
            <td colspan='2'>
                <span class='header'>Sign Up </span>
                <span style='font-size:10px;cursor:pointer;' onclick='login()'> (Return to login)</span>
            </td>
        </tr>

        <tr><td colspan='2'>&nbsp;</td></tr>

        <tr>
            <td>First Name:</td>
            <td><input type='text' placeholder='First Name' name='txtFirstName' id='txtFirstName' size='40' required></td>
        </tr>

        <tr>
            <td>Surname:</td>
            <td><input type='text' placeholder='Surname' name='txtSurname' id='txtSurname' size='40' required></td>
        </tr>

        <tr>
            <td>Email Address:</td>
            <td><input type='email' placeholder='Username' name='txtUsername' id='txtUsername' size='40' maxlength='200' required></td>
        </tr>

        <tr><td colspan='2'>&nbsp;</td></tr>

        <tr>
            <td>Password:</td>
            <td><input type='password' placeholder='Password' name='pwdPassword' id='pwdPassword' size='40' required></td>
        </tr>

        <tr>
            <td>Confirm password:</td>
            <td><input type='password' placeholder='Confirm Password' name='pwdConfirm' id='pwdConfirm' size='40' required></td>
        </tr>

        <tr><td colspan='2'>&nbsp;</td></tr>

        <tr>
            <td>&nbsp;</td>
            <td class='smalltext'><input type='checkbox' id='chkTsCs' name='chkTsCs' required>I agree to the <span onclick="showHideTsCs()" class="underline">terms and conditions</span></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>
                <div class="TsCs">
                    <p><em>Introduction</em><br />
                        This document is a contract that is bound between you (the user) and the owners of the site (GetConnected) and must be adhered and agreed to before registration can be completed. Please read these terms and conditions carefully; by using our site, you agree to follow these terms. If you fail to abide by any of the rules that follow, or you disagree with any policies stated in this document, it is requested that you leave the site immediately and terminate any connections.</p>

                    <p><em>About Us</em><br />
                        GetConnected was created in 2013 as a requirement of a Computer Science module at the University of Surrey. The 4 developers currently reside in Surrey.</p>

                    <p><em>Site usage</em><br />
                        The site should only be used for the purposes stated below. Any other unauthorised use (such as decompiling, extracting or modifying any resources) is considered a criminal offence.
                        Only one account should be created per user that provides facilities to connect to 2 social networks: Twitter and Facebook. The site provides a convenient aggregator service that provides news feeds from the aforementioned social networks into a single, convenient location. Features associated with these social networks, such as "liking" and posting comments, are available in GetConnected. If you wish to terminate your account at any time, there are facilities available to achieve this. Any other uses of the site are strictly prohibited.</p>

                    <p><em>IP (Intellectual Property Rights)</em><br />
                        All code written is the property of GetConnected and its developers and must not be downloaded, reverse-engineered, copied or modified in any way without the developers' permission. Thrse works are protected by copyright laws and treaties around the world. All such rights are reserved. Any unauthorised use, including for commercial and non-commercial purposes, is strictly forbidden.</p>

                    <p><em>Concerns</em><br />
                        If you have any issues, please get in contact with us.</p>

                    <p>Thank you for visiting GetConnected.</p>
                </div>
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><input type='submit' value='Sign Up'></td>
        </tr>
    </table>
</form>