html,body {
    font-family:Segoe UI, Calibri, Arial, sans-serif;
    margin:0;
    height:100%;
    overflow:hidden;
}

.headerbar {
    font-size:25px;
    position:fixed;
    width:100%;
    height:40px;
    background-color:#A3B0B5;
    padding-left:40px;
}

.settingstable {
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    width:350px;
}

.loader {
    margin-left:40%;
    margin-right:auto;
    margin-top:10%;
    width:200px;
    text-align:center;
    position:fixed;

}

.slide {
    background-color:#DDC7D3;
    width:20px;
    height:99%;
    float:left;
    margin-top:40px;
}

.slide-text {
    margin-top:50px;
    margin-bottom:auto;
    text-align:center;
}

.buttons {
    float:right;
    margin-right:50px;
    margin-top:2px;
}

#container {
    
    margin-top:40px;
    overflow:scroll;
    position:fixed;width:99%;
    height:97%;
    margin-left:20px;
    margin-bottom:29px;
}

<!--Unused i think now replaced by container-->
.content {
    
    
    
    overflow-y:auto;
    overflow-x:hidden;
    float:left;
    margin-top:40px;
}

.footer {
    position:absolute;
    float:left;
    width:100%;
    background-color:#A3B0B5;
    height:29px;
    left:0;
    bottom:0;
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
}

.entryfb {
    border:3px solid #BECCD1;
    float:left;
    margin-left:10px;
    margin-top:10px;
    width:250px;
    height:250px;
    overflow:hidden;
    position:relative;
    background-color:#fff;
}

.entrytw {
    border:3px solid #BED1BF;
    float:left;
    margin-left:10px;
    margin-top:10px;
    width:250px;
    height:250px;
    overflow:hidden;
    position:relative;
    background-color:#fff;
}

.divloader {
    text-align:center;
    float:left;
    margin-left:10px;
    margin-top:10px;
    width:250px;
    height:250px;
    position:relative;
    background-color:#fff;
}

.entryfb :hover{
cursor:pointer;
}

#options {
position:absolute;
bottom:0;
width:100%;
border-top:1px solid #AEA9B0;
display:none;
}


.buttonunlike {
    height:40px;
    float:left;
     width:124px;
    background-color:#EEE7F0;
    text-align:center;
    border-right:1px solid #AEA9B0;
}

.buttonliked {
    height:40px;
    float:left;
     width:124px;
    background-color:#D1F0D4;
    text-align:center;
    border-right:1px solid #AEA9B0;
}
.buttoncomment {
    height:40px;
    float:left;
     width:125px;
    background-color:#EEE7F0;
    text-align:center;
}
.buttonrt {
    height:40px;
    float:left;
     width:124px;
    background-color:#EEE7F0;
    text-align:center;
    border-right:1px solid #AEA9B0;
}

.buttonunrt {
    height:40px;
    float:left;
     width:124px;
    background-color:#D1F0D4;
    text-align:center;
    border-right:1px solid #AEA9B0;
}

.buttonfav {
    height:40px;
    float:left;
     width:124px;
    background-color:#EEE7F0;
    text-align:center;
    border-right:1px solid #AEA9B0;
}

.buttonunfav {
    height:40px;
    float:left;
     width:124px;
    background-color:#D1F0D4;
    text-align:center;
    border-right:1px solid #AEA9B0;
}

.entrybig {
    border:3px solid #BECCD1;
    float:left;
    margin-left:10px;
    margin-top:10px;
    width:300px;
    height:300px;
    overflow:hidden;

    background-color:#F0E1F7;
}

.entryimg{
    border:3px solid #BECCD1;
    float:left;
    margin-left:10px;
    margin-top:10px;
    width:200px;
    height:500px;

    background-color:#F0E1F7;
}

.fbimg {
    display:block;
    border:1px solid #BECCD1;
    float:left;
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    width:50px;
    height:50px;
}
.head{
    height:64px;
    background-color: #87ceff;
}

.headtw{
    height:64px;
    background-color: #4099ff;
}
.message{
    margin:10px;

}
.fbMsgLink{
    margin:10px;
}

.imagelnk {
    display: table;
   margin-right:auto;
   margin-left:auto;
}
.headCont {
    margin-left: 60px;
    height:55px;
}

.networklink {
    margin-left:auto;
    margin-right:auto;
    border:2px solid #8F8F8F;
    width:600px;
    height:250px;
    margin-top:60px;
    background-color:#fff;
    display:none;

}

.closenetworklink {
    float:right;
    margin-right:5px;
    cursor:pointer;
}

.networklinkheader {
    background-color:#B5B5FF;
    height:40px;
    width:98%;
    font-size:25px;
    padding-left:2%;
    position:relative;

}

.networklinkcontent {
    padding:10px;
}

/*
TABS
*/
* {padding:0; margin:0;}
.socialnetworktabs {
    margin-left:10px;
}

.tabs li {
    list-style:none;
    display:inline;
    margin-left:5px;
}

.tabs a {
    padding:3px 3px;
    display:inline-block;

    color:#fff;
    text-decoration:none;
    width:70px;
    height:70px;

}

.tabs a.active {

    background:#6D84B4;
}

.socnet-login {
    margin-top:5px;

    width:560px;
    float:left;
}

#fblogin {
    margin-left:5px;
    width:560px;
    height:320px;
    margin-top:5px;
    border:1px solid #6D84B4;
}


.head a:link {
    text-decoration:none;
    color: #FCFCFC;
}
.head a:visited {
    text-decoration:none;
    color:#DDC7D3;
}
.head a:hover {text-decoration:underline;}
.head a:active {text-decoration:underline;}

.link {
    float:left;
    border-right:1px solid #000;
    padding-left:4px;
    padding-right:4px;
}
.linkright {
    float:left;

    padding-left:4px;
    padding-right:4px;
}

.link:hover, .linkright:hover {
    background-color:#C8D8DE;
    cursor:pointer;
}

.settingshover {
    cursor:pointer;
}

.hidefb:hover, .showfb:hover, .hidetw:hover, .showtw:hover {
    cursor:pointer;
}
