body {

    font-family:Verdana, Arial, sans-serif;
    /**
    background-image:url('../img/background.jpg');
    **/
    background-size: 100% auto;
    background-color:#A3B0B5;
}

.TsCs {
    height:0px;
    overflow-y: scroll;
    font-size:x-small;
}

.underline {
    text-decoration: underline;
}

.logincontainer {
    margin-top:80px;
    margin-left:auto;
    margin-right:auto;
    width:500px;
    height:100px;

}

.loginlogo {
    width:500px;
    height:100px;
    float:left;
    margin-left:30px;
    background-image:url('../img/logo-new.png');
    background-repeat:no-repeat;
}
.loginbox {
    background-image:url('../img/login.png');
    width:500px;
    height:300px;
    border:1px solid #000;
    margin-left:auto;
    margin-right:auto;
    display:block;

    box-shadow: 5px 5px 5px #888888;
    -moz-border-radius: 55px;
    border-radius: 5px;
    z-index:1000000;
}

.loginbutton  {
    width:80px;
    height:50px;
    float:left;
    border-top:1px solid #000;
    border-right:1px solid #000;
    box-shadow: 5px 0 5px #888888;
    background-color:#fff;
    margin-top:48px;
    z-index:-111;
    background-color:#DED7C4;

}
.smalltext {
    font-size:13px;
    cursor:pointer;
}
.signupbutton {
    width:80px;
    height:50px;
    float:left;
    border-top:1px solid #000;
    border-left:1px solid #000;

    background-color:#fff;
    margin-top:48px;

}
.header {
    font-size:20px;
    font-weight:bold;
}

.loginreturn {
    float:left;
    margin-top:10px;
    margin-left:50px;
    position:relative;
}
.logintable {
    border-spacing:5px;
    position: relative;
    top: 50px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    font-size:17px;

}

.loginform input[type="submit"] ,.signupform input[type="submit"] {
    -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
    background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
    background-color:#9dce2c;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:3px 12px;
    text-decoration:none;
    text-shadow:1px 1px 0px #689324;
}.loginform input[type="submit"]:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
    background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
    background-color:#8cb82b;
}.loginform input[type="submit"]:active {
    position:relative;
    top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
